.clear:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}

.clear {
display: inline-block;
clear: both;
}

/* Hides from IE-mac \*/
* html .clear {
height: 1%;
}

.clear {
display: block;
}

#logo {
	font: 36px/1 'Bree Serif', serif, Arial, Helvetica, sans-serif;
	color: #333;
	text-align: center;
	margin: 0 0 30px;
}

#form {
	margin: 0 0 20px;
}

#form .col-1,
#form .col-2 {
	float: left;
	box-sizing: border-box;
}

#form .col-1 {
	width: 80%;
	padding: 0 20px 0 0;
}

#form .col-2 {
	width: 20%;
}

#form input[type=search] {
	width: 100%;
	font-size: 30px;
	height: 50px;
	padding: 5px 5px 5px 20px;
	background-position: 10px 18px;
	border-radius: 5px;
	border: none;
	vertical-align: middle;
	margin: 0;
}

#form input[type=submit] {
	width: 100%;
	box-sizing: border-box;
	font-size: 18px;
	height: 50px;
	padding: 5px 15px;
	background: #fff;
	border: 1px solid #000;
	background: #999;
	cursor: pointer;
	color: #000;
	text-shadow: 1px 1px 0px rgba(255,255,255,0.5);
	border-radius: 5px;
	vertical-align: middle;
}

#wrap {
	padding: 20px;
}

#list li {
	color: #555;
	background: #fff;
	border-radius: 10px;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
	padding: 10px;
	margin: 0 0 10px;
}

.tweet-data {
	margin: 0 0 10px;
}

.tweet-data .image {
	float: left;
	width: 50px;
	height: 50px;
	margin: 0 10px 0 0;
}

.tweet-data .date {
	font-size: 10px;
	color: #999;
}

.spotify-data {
	padding: 10px;
	border-radius: 10px;
	box-shadow: inset 1px 1px 5px rgba(0,0,0,0.5);
}

.spotify-data .sp-player {
	float: left;
	width: 100px;
	height: 100px;
	margin: 0 10px 0 0;
}

h1 {
	font-size: 16px;
	font-weight: bold;
	color: #333;
}

h1 a {
	color: #333;
}

h2 {
	font-size: 20px;
	font-weight: bold;
	color: #333;
}

h2 a {
	color: #333;
}

h3 {
	font-size: 16px;
	color: #555;
}

h3 a {
	color: #555;
}

